body {
  background-color: #ffffff;
  font-family: 'Lato';
  font-weight: normal;
  font-size: 15px;
  line-height: 2em;
  color: #777777;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #333333;
}

.my_btn{
  background-color: #333333;
  color: #fff;
  font-family: 'Lora';
  font-size: 12px;
  font-weight: bold;
  border: 0px;
  border-radius: 0px;
  box-shadow: none;
  text-transform: uppercase;
  line-height: 40px;
  padding-left: 25px;
  padding-right: 25px;
  padding-bottom:10px;
  padding-top:10px;
  letter-spacing: 1px;
  -webkit-transition: all 0.25s ease;
  -moz-transition: all 0.25s ease;
  transition: all 0.25s ease;
  margin-left:5px;
  min-width:105px;
}

.my_btn:hover{
  background-color: #a51c30;
  color: #fff;
}

.my_btn:focus{
  color: #fff;
}

.main {
  padding-top: 90px;
  padding-bottom: 90px;
  position: relative;
  overflow: hidden;
  padding-top: 0px;
  padding-bottom: 0px;

}

.sub-title {
  font-family: 'Oswald';
  font-size: 18px;
  font-weight: normal;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: #4ac3bf;
  position: relative;
  margin: 0px;
  margin-bottom: 40px;
}

.sub-title::after {
  content: '';
  position: absolute;
  height: 2px;
  width: 75px;
  left: 0px;
  bottom: -18px;
  background-color: #333333;
}

.list-details {
  list-style-type: none;
  padding-left: 0px;
  font-size: 12px;
  text-transform: uppercase;
}

.list-details strong,
.list-details b {
  color: #333333;
}

[data-bg-image] {
  background-size: cover;
  background-position: center top;
  background-repeat: no-repeat;
}

.title-lg,
.title-md {
  font-family: 'Oswald';
  font-size: 32px;
  font-weight: normal;
  line-height: 1.3em;
  letter-spacing: 1px;
  color: #a51c30;
  margin-bottom: 20px;
}
.separator{
	border-top: 1px solid #efefef;
	padding-top:10px;
	margin-top:25px;
}
.title-md {
  font-size: 26px;
}

.title-lgx {
  font-family: 'Oswald';
  font-size: 70px;
  font-weight: bold;
  letter-spacing: 1px;
}

.title-light {
  font-family: 'Oswald';
  font-size: 30px;
  font-weight: 100;
  letter-spacing: 1px;
}

ul.check-list {
  list-style-type: none;
}

ul.check-list li {
  font-size: 12px;
  text-transform: uppercase;
  font-family: 'Lato';
  font-weight: normal;
  letter-spacing: 1px;
}

ul.check-list li::before {
  content: "\f00c";
  font-family: FontAwesome;
  margin-left: -20px;
  margin-right: 12px;
  font-size: 11px;
}

ul.socials {
  list-style-type: none;
  display: block;
  padding-left: 0px;
  text-align: center;
  padding-top:20px;
}

ul.socials li {
  display: inline-block;
  margin-bottom: 8px;
  margin-right: 3px;
}

ul.socials li a {
  font-size: 14px;
  width: 43px;
  height: 43px;
  line-height: 43px;
  background-color: #333333;
  color: #fff;
  display: inline-block;
  text-align: center;
  border-radius: 50%;
  margin-right: 5px;
  -webkit-transition: all 0.25s ease;
  -moz-transition: all 0.25s ease;
  transition: all 0.25s ease;
}

ul.socials li a:hover {
  background-color: #4ac3bf;
}

.text-brand {
  color: #a51c30;
}

.project-title{
	padding:10px;
	font-size:16px;
}
.project-list{
	margin-top:5px;
}


@media screen and (min-width: 768px) and (max-width: 991px) {

	.title-lgx {
	font-size: 50px;
	}

	.title-light {
	font-size: 24px;
	}

	.title-lg {
	font-size: 24px;
	}
	button{
		display:block;
	}
}

@media screen and (max-width: 767px) {

	.title-lgx {
	font-size: 50px;
	}

	.title-light {
	font-size: 24px;
	}

	.title-lg {
	font-size: 24px;
	}
	button{
		display:block;
	}

}